.review{
    width: 100%;
    height: 35.7rem;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    margin-top: 22.5rem;
}
.review_slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 25rem;
    padding: 6.3rem 4.5rem 5rem 4.5rem;
    background: #FFFFFF;
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.25);
    border-radius: 0.9rem;
}
.review_slide-photo{
    clip-path: polygon(50% 5%, 98% 31%, 98% 69%, 50% 96%, 1% 67%, 1% 33%);
    width: 10.5rem;
    height: 12.5rem;
    background-color: #fff;
}
.review_slide-img{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    width: 11.5rem;
    height: 13rem;
    background: linear-gradient(90deg, rgba(185, 1, 96, 1) 0%, rgba(61, 91, 245, 1) 100%);
}
.review_wrapper{
    padding-top: 7rem;
}
.review_slide-text{
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
    text-align: center;
}
.review_slide-text:after{
    content: '';
    display: block;
    height: .2rem;
    width: 13rem;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(185, 1, 96, 1) 0%, rgba(61, 91, 245, 1) 100%);
}
.review_slide-name{
    margin-top: 5rem;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 115%;
}
.review_wrapper{
    padding-top: 7rem;
    padding-bottom: 5rem;
}